/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}

.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 256mm;
    outline: 2cm #FFEAEA solid;
}

@page {
    size: A4;
    margin: 0;
}
/* All */


#paginator{
   padding-right: 47px !important;
}

.mat-paginator-page-size-label{
    width: 123px !important;
}
/*Login form **/

.login-container{
    /*
    position: absolute;
    width: 100%;
    padding: 150px 0px 150px 0px;*/
    top: 50%;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
}

.flash-messages{
    text-align: center;
}
.login-container .login-form{
    margin: 0 auto;
    width: 344px;
    background: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-collapse: collapse;
    border: 2px solid #eee;
}
.login-container .error span{
    color: red !important;
}

.login-container .login-form .login-email-input, .login-container .login-form .login-password-input{
    height: auto;
    margin-bottom: 20px !important;
}

.login-container .login-form .login-email-input .error, .login-container .login-form .login-password-input .error{
    height: 24px;
}

.login-container .login-form .login-submit-button{
    height: auto;
    margin-bottom: 10px;
}

.login-container .login-form .login-submit-button .login-mat-card{
   box-shadow: none !important;
}

.login-container .login-link-container{
    margin: 0 auto;
    width: 400px;
    text-align: center;
}


/*signUp form */



.signUp-container{
    top: 50%;
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.signUp-container .signUp-form{
    margin: 0 auto;
    width: 344px;
    background: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #eee;
}

.signUp-container .signUp-form .signUp-nom-input, .signUp-container .signUp-form .signUp-prenom-input, .signUp-container .signUp-form .signUp-email-input, .signUp-container .signUp-form .signUp-password-input{
    height: auto;
    margin-bottom: 20px;
}

.signUp-container .signUp-form .signUp-submit-button{
    height: auto;
    margin-bottom: 10px;
}

.signUp-container .signUp-form .signUp-submit-button .signUp-mat-card{
    box-shadow: none !important;
}
.signUp-container .signUp-link-container{
    margin: 0 auto;
    width: 400px;
    text-align: center;
}


/* Header */

header{
    padding-top: 16px;
    background: #2C75C2 !important;
    background-color: white;
    width: 100%;
    height: 56px;
}


header nav ul#navUl{
text-align: center;
margin-bottom: 0px !important;
float: left;
margin-left: 2.4% !important;
}

header nav ul#navUl li{
    list-style-type: none;
    display: inline-block;
    min-width: 84px;
    width: auto;
    margin-right: 25px;
}

header nav ul li a{
    color: white !important;
    font-size: 17px;
}

header nav .mat-icon-button{
   color: white;
   top: 8px;
   position: absolute;
   right: 17px !important;
}

/*Home */

.presentation-container{
    position: relative;
    width: 100%;
    min-height: 200px;
    height: auto;
    text-align: center;
}
.content-container{
    position: relative;
    width: 100%; 
}

.content-container .fresenius-container{
    text-align: center;
   left: 0;
   width: 50%;
   float: left;
   height: auto;
   padding-left: 30px;
   padding-right: 30px;
}

.content-container .printer-container{
    text-align: center;
    float: right;
    width: 50%;
    height: auto;
    padding-left: 70px;
    padding-right: 70px;
 }
 
 /* Fresenius Home */

 .freseniusHome-container{
    position: relative;
    padding-top: 18%;
    width: 7.6%;
    margin: 0 auto !important;
}

/* Fresenius */

.fresenius-container{
    position: relative;
    width: 100%;
    
}

.fresenius-container .top-container{
   height: 807px;
}

.floatRight{
    float: right !important;
 }

.fresenius-container .bottom-container .fresenius-submit-container{
    position: relative;
    width: 50%;
    text-align: center;
    margin-bottom: 50px !important;
}
.fresenius-container .top-container .fresenius-piece-submit-container{
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px !important;
}


#lessButton{
    float: right !important;
    right: 0px;
}

#moreButton{
    left: 0px;
}
.mat-fab .mat-button-wrapper{
font-size: xx-large !important;
}

.fresenius-container .bottom-container .fresenius-submit-container .fresenius-submit-button{
    position: relative;
    width: 206px;
}

.fresenius-container .bottom-container .fresenius-submit-container a {
font-size: 17px;
position: absolute;
top: 8px;
margin-left: 18px;
}

.fresenius-container .top-container .product-container{
    position: relative;
    width: 50%;
    left: 0%;
    padding: 0% 3% 0 3%;
    float: left;
    min-height: 500px;
    height: auto !important;
}
.fresenius-container .top-container .product-container h3, .fresenius-container .top-container .new-piece-container h3{

font-size: 19px;
}

.fresenius-container .top-container .new-piece-container{
    position: relative;
    width: 50%;
    left: 0%;
    padding: 0% 3% 0 3%;
    float: right;
    min-height: 581px;
    height: auto !important;
}
.fresenius-container .top-container .product-container .form-group{
    min-height: 74px !important;
    margin-bottom: 5px;
    height: auto !important;
}

.fresenius-container .top-container .new-piece-container .form-group .new-piece-reference-container{
    width: 100%;
    margin-bottom: 21px;
    text-align: center;
}

.fresenius-container .top-container .new-piece-container .form-group .new-piece-reference-container .search{
    width: 100%;
}

.fresenius-container .top-container .product-container .fresenius-title{
    height: 70px !important;
    margin-bottom: 5px;
    text-align: center;
}

.fresenius-container .top-container .new-piece-container .new-piece-title{
    height: 70px !important;
    margin-bottom: 5px;
    text-align: center;
}
.fresenius-container .top-container .new-piece-container .new-piece-add-button{
    height: 70px !important;
    margin-bottom: 21px;
    text-align: center;
}

.fresenius-container .top-container .product-container .form-group .product-client-name-container{
    margin-right: 5px;
    left: 0;
    float: left;
    width: 45%;
    position: relative;
    text-align: center;
}

.fresenius-container .mat-form-field .mat-input-wrapper .mat-input-flex .mat-input-infix{
    width: 45% !important;
}

.fresenius-container .top-container .product-container .form-group .product-bill-point-container{
    left: 0;
    float: right;
    width: 45%;
    position: relative;
    text-align: center;
}


.fresenius-container .top-container .product-container .form-group .product-deliver-point-container{
    margin-right: 5px;
    left: 0;
    float: left;
    width: 45%;
    position: relative;
    text-align: center;
}

.fresenius-container .top-container .product-container .form-group .product-client-code-number-container{
    left: 0;
    float: right;
    width: 45%;
    position: relative;
    text-align: center;
}


.fresenius-container .top-container .product-container .form-group .product-sap-order-number-container{
    margin-right: 5px;
    left: 0;
    float: left;
    width: 45%;
    position: relative;
    text-align: center;
}

.fresenius-container .top-container .product-container .form-group .product-client-code-number-container{
    left: 0;
    float: right;
    width: 45%;
    position: relative;
    text-align: center;
}


.fresenius-container .top-container .product-container .form-group .product-receipt-date-container{
    left: 0;
    float: right;
    width: 45%;
    position: relative;
    text-align: center;
}

.fresenius-container .top-container .product-container .form-group .product-device-number-container{
    left: 0;
    float: right;
    width: 45%;
    position: relative;
    text-align: center;
}

.fresenius-container .top-container .product-container .form-group .product-bio-number-container{
    left: 0;
    float: right;
    width: 45%;
    position: relative;
    text-align: center;
}


.fresenius-container .top-container .product-container .form-group .product-type-container{
    margin-right: 5px;
    left: 0;
    float: left;
    width: 45%;
    position: relative;
    text-align: center;
}



.fresenius-container .top-container .product-container .form-group .product-pro-code-container{
    left: 0;
    width: 45%;
    float: left;
    position: relative;
    text-align: center;
    margin: 0 auto;
}


.fresenius-mat-form-field-product{
    width: 100% !important;
}


.fresenius-container .top-container .product-container .form-group .product-declared-defect-container{
    left: 0;
    width: 45%;
    position: relative;
   text-align: center;
   float: right;
}

.fresenius-container .top-container .product-container .form-group .product-defect-found-container{
    left: 0;
    width: 100%;
    position: relative;
   text-align: center;
   float: left;
}

.fresenius-container .top-container .product-container .form-group .product-entry-number-container{
    left: 0;
    width: 45%;
    position: relative;
   text-align: center;
   float: left;
}


.fresenius-container .top-container .product-container .form-group .product-intervention-container{
    left: 0;
    width: 100%;
    position: relative;
   text-align: center;
}



.fresenius-container .top-container .product-container .form-group .product-past-time-container{
    left: 0;
    width: 100%;
    position: relative;
   text-align: center;
}


/*FreseniusList */


.freseniusList-container  .column1{
    width: 910px;
    height: auto;
}

.freseniusList-container  .column2{
    width: 910px;
    height: auto;
    float: left;
}

.freseniusList-container mat-progress-bar{
width: 94% !important;
margin-left: 3% !important;
}

.freseniusList-container  .addActivityButton{
    bottom: 11px !important;
    position: absolute !important;
    right: 20px !important;
}


mat-list mat-list-item button.md-button:not([disabled]):hover {
    background-color: #FFF;
}


.freseniusList-container  .searchBar {
    /*
min-height: 64px;
padding: 8px 24px 0;*/
width: 14%;
left: 3%;
position: relative;
}

.fresenius-container  .select-option{
    position: relative;
    width: 45% !important;
}

.freseniusList-container  .mat-form-field {
font-size: 14px;
width: 100%;
}

.freseniusList-container  .mat-table {
overflow: auto;
max-height: 800px !important;
width: 94%;
margin-left: 3%;
border: 1px solid #eee;
margin: 0% 3% 0% 3%;
}


.freseniusList-mat-row:hover{
    background: #eeeeee;
    cursor: pointer;
}


/*   Operation */


.operations-container  .column1{
    width: 910px;
    height: auto;
}

.operations-container  .column2{
    width: 910px;
    height: auto;
    float: left;
}

.operations-container mat-progress-bar{
width: 94% !important;
margin-left: 3% !important;
}

.operations-container  .addActivityButton{
    bottom: 11px !important;
    position: absolute !important;
    right: 20px !important;
}

.operations-container  .searchBar {
    /*
min-height: 64px;
padding: 8px 24px 0;*/
width: 14%;
left: 3%;
position: relative;
}


.operations-container  .mat-form-field {
font-size: 14px;
width: 100%;
}

.operations-container  .mat-table {
    overflow: auto;
    max-height: 800px !important;
    width: 94%;
    margin-left: 3%;
    border: 1px solid #eee;
    margin: 0% 3% 0% 3%;
}


.operations-mat-row:hover{
    background: #eeeeee;
    cursor: pointer;
}

.mat-column-operator_name{
    flex:0 0 210px !important;
}


.mat-column-operation_name{
    flex:0 0 400px !important;
}

.mat-column-date{
    flex:0 0 200px !important;
}


/* new  Stock */

.new-stock-container{
padding: 64px 120px 0px 120px;
}

.new-stock-container .new-piece-submit-container button{
    width: 100% !important;
}

/*Stock visualize */

a#reference_piece{
    position: absolute !important;
    right: 14px !important;
}

.stock-manage-container  .example-header {
min-height: 64px;
padding: 8px 24px 0;
}

.stock-manage-container  .mat-form-field {
font-size: 14px;
width: 100%;
}


.stock-manage-container .table{
    display: flex;
    flex-direction: column;
    max-height: 700px;
}

.stock-manage-container .editButton{
    margin-right: 16px !important;
}

.stock-manage-container  .table .mat-table {
    overflow: auto;
    max-height: 700px !important;
    width: 94%;
    margin-left: 3%;
    border: 1px solid #eee;
    margin: 0% 3% 0% 3%;
}


.stock-manage-container mat-progress-bar{
    width: 94% !important;
    margin-left: 3% !important;
}


.stock-manage-container .searchBar{
    width: 14%;
    left: 3%;
    position: relative;
    float: left;
}

.stock-update-mat-form-field-dialog{
    width: 100% !important;
}


.stock-manage-container  .addActivityButton{
    bottom: 11px !important;
    position: absolute !important;
    right: 20px !important;
}

/*Dialog visualize */
.stock-update-dialog-container{
    position: relative;
    width: 100%;
}
.stock-update-dialog-container .quantity-container{
    position: relative;
    width: 100%;
    margin-bottom: 4%;
}
.stock-update-dialog-container .stock-update-dialog-submit-container{
    position: relative;
    width: 100%;
}

.stock-update-dialog-container .stock-update-dialog-submit-container button{
    width: 100% !important;
}
.stockList-mat-row:hover{
    background: #eeeeee;
    cursor: pointer;
}
.stock-manage-container .searchOptions .radioGroup .reference{
    margin-right: 15px;
}

/* FreseniusDetails */

.twelve{
    width: 100% !important;
}
.twelve .left{
    width: 28% !important;
}

.twelve .right{
    width: 72% !important;
}

@media screen and (max-width: 900px) {
    
    .twelve .left{
        width: 27.2% !important;
    }

    .twelve .right{
        width: 72.8% !important;
    }
}


.six{
    width: 50% !important;
}
.ten{
    width: 83,3% !important;
}

.nine{
    width : 74.9% !important;
}
.four{
    width: 33.3% !important;
}

.height{
    width: 66.6% !important;
}
.seven{
    width: 58.3% !important;
}

.two{
    width: 16.6% !important;
}
.five{
    width: 41.7% !important;
}
.three{
    width: 25% !important;
}
.freseniusDetails-container{
    margin: 0 auto;
    width: 98%;
    position: relative;
    height: auto;
}
.freseniusDetails-container .spanNormal{
font-size: 12.5px;
}

.freseniusDetails-container .spanNormalCodification{
   font-size: 18px;
    margin-left: 20px !important;
}
.freseniusDetails-container .spanBold{
    font-size: 12.5px;
    font-weight: bold;
}

.freseniusDetails-container #mat-chip-state-valide{
    background-color:  #2C75C2 !important;
}

.freseniusDetails-container #mat-chip-state-complete{
    background-color:  #51A351 !important;
}

.freseniusDetails-container #mat-chip-state-unvalide{
background-color: #eee !important;

color: black;
}

.italic{
    font-style: italic;
}
.italic2{
    font-style: italic;
    font-size: 11px !important;
}


.freseniusDetails-container .title{
    text-align: center;
    min-height: 23px;
    height: auto;
    margin-bottom: 20px !important;
}

.freseniusDetails-container .data , .freseniusDetails-container .product{
   margin-bottom: 14px;
}

.freseniusDetails-container .data2, .freseniusDetails-container .product2{
display: none;
}

.freseniusDetails-container .data , .freseniusDetails-container .product, .freseniusDetails-container .panne{
    background: #eee !important;
 }
.freseniusDetails-container .leftProduct, .freseniusDetails-container .leftData {
    width: 50.8% !important;
}
.freseniusDetails-container .leftProduct{
    padding-right: 0px !important;
    margin-bottom: 3px;
}

.freseniusDetails-container .leftProduct .four{
    padding-left: 0px !important;
}
.freseniusDetails-container .leftData .left {
    width: 56% !important;
}

.freseniusDetails-container .leftData .right {
    width: 44% !important;
}

.freseniusDetails-container .mat-form-field-infix{
border-top: none !important;
padding: 0 !important;
}

.freseniusDetails-container .rightData{
    width: 49% !important;
    padding: 0;
}
.freseniusDetails-container .rightData .left{
    padding: 0;
}

.freseniusDetails-container .rightProduct{
    width: 49% !important;
    padding: 0;
}


.paddingRight0{
    padding-right: 0px !important;
}

.paddingLeft36{
    padding-left: 36px !important;
}
.marginLeft4{
margin-left: 4px !important;
}
.paddingLeft0{
    padding-left: 0px !important;
}
.bottomLeftImportant{
    width: 50.8%;
}

.bottomRightImportant{
    width: 49%;
}

.bottomLeftImportant p, .bottomRightImportant p{
font-size: 9px;
}
.cancelDateInput{
    width: 120px !important;
    height: 10px;
}
.two{
    width: 22.6% !important;
}
.cancel-col-lg-8{
    height: 22px;
    padding-left: 22px !important;
}

/* Checkbox accepter */

.freseniusDetails-container .rightProduct  .accept-check-box input[type=checkbox]{
margin: 0;
}

.freseniusDetails-container .padding{
    padding: 0;
}

.freseniusDetails-container .title h3{
   font-size: 23px;
   margin: 0;
}

.freseniusDetails-container .vide{
    height: 20px !important;
    width: 100%;
}


.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,  .col-lg-9, .col-lg-10, .col-lg-12{
    float: left !important;
}
.customAlignRight{
    text-align: right !important;
    padding-right: 0 !important;
}
.margBottom{
    margin-bottom: 4px !important;
}

.margBottomTwo{
    margin-bottom: 2px !important;
}
.margBottomThree{
    margin-bottom: 3px !important;
}

.marginTop109px{
    margin-top: 109px;
}
.vide{
    margin-bottom: 5px !important;
}
.hr{
  display: none; 
}

.leftProduct p, .rightProduct p{
    font-style: italic;
    font-size: 7px !important;
}

.height35px{
    height: 35px !important;
}

.height26px{
    height: 26px !important;
}

.height28px{
    height: 28px !important;
}

.height90px{
    height: 90px !important;
    padding-right: 0 !important;
}

.height13px{
    height: 13px !important;
}

.height20px{
    height: 20px !important;
}
.height40px{
    height: 40px !important;
}

.height19px{
    height: 19px !important;
}
.pieceChangeTitle{
    font-size: 12px !important;
    font-weight: bold !important;
}

.freseniusDetails-container .table{
    margin-top: 5px !important;
}

.pieceList-mat-row  {
min-height: 10px !important;
}
.pieceList-mat-header-row{
   min-height: 10px !important;
}

.pieceList-mat-header-row, .pieceList-mat-row  {
    padding: 15px !important;
    padding-top: 0px !important;
    border-bottom-style: none !important;
    padding-bottom: 0px !important;
}


.reparation-details-mat-spinner{
    position: fixed !important;
    z-index: 999 !important;
    overflow: show !important;
    margin: auto !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
}

.freseniusDetails-container .manage{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding: 0;
    min-height: 38px;
    height: auto;
}

.freseniusDetails-container .manage .view{
width: auto;
position: relative;
float: left;
}


.freseniusDetails-container .manage .view mat-chip-list{
    float: left;
    margin-right: 43px;
}

.freseniusDetails-container .manage .action{
    width: 367.6px !important;
    position: relative;
    float: right;
}

.freseniusDetails-container .manage .action button#update-information{
float: left;
margin-right: 43px;
}


 /*Reparation update  state dialog  */

.reparation-state-update-dialog-container form{
    text-align: center;
}
.reparation-state-update-dialog-container form #saveButton{
    width: 100%;
}


.reparation-state-update-dialog-container form .mat-input-infix{
    text-align: center;
}

.reparation-state-update-dialog-container form .mat-form-field{
    margin-bottom: 50px !important;
}

.status-mat-option{
    text-align: center !important;
}

 /*Reparation view information dialog  */

 .reparation-information-dialog-container .reparator h4,  .reparation-information-dialog-container .test_validator h4, .reparation-information-dialog-container .send_validator h4, .reparation-information-dialog-container .last_modificator h4{
    text-decoration: underline;
 }

 .reparation-information-dialog-container .reparator,  .reparation-information-dialog-container .test_validator, .reparation-information-dialog-container .send_validator , .reparation-information-dialog-container .last_modificator{
    position: relative;
    margin-bottom: 20px;
 }

 .reparation-information-dialog-container .reparator .title, .reparation-information-dialog-container .test_validator .title, .reparation-information-dialog-container .send_validator .title, .reparation-information-dialog-container .last_modificator .title{
    width: auto;
   float: left;
   margin-right: 20px;
 }

 .reparation-information-dialog-container .reparator .title-result, .reparation-information-dialog-container .test_validator .title-result, .reparation-information-dialog-container .send_validator .title-result, .reparation-information-dialog-container .last_modificator .title-result{
    width: auto;
 }

 .reparation-information-update-dialog-container .update-submit-container .update-submit-button, .reparation-information-update-dialog-container .mat-form-field{
     width: 100%;
 }


@media print {
    .freseniusDetails-container {
        margin-top: 14.2%;
    }
    .freseniusDetails-container .manage{
        display: none;
    }
    .freseniusDetails-container .data2, .freseniusDetails-container .product2{
        display: block;
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }

    header{
        display: none !important;
    }

    svg{
        display: none !important;
    }

    .hr{
        display: block;
        border-top: 1px solid black !important;
        /*float: right !important;*/
        margin-bottom: 18px;
        width: 92% !important;
        left: 6.3% !important;
    }
    
    .piecesListDivSeparator{
        display: block;
    }
    .mat-column-quantity{
        flex:0 0 53px !important;
        border-bottom-style: dotted !important;
        border-bottom-width: 1.5px;
        margin-right: 20px;
        font-size: 11px !important;
    }
    .mat-column-lot_number{
        flex:0 0 96px !important;
        border-bottom-style: dotted !important;
        border-bottom-width: 1.5px;
        font-size: 11px !important;
    }
    
    .mat-column-description{
        border-bottom-style: dotted !important;
        border-bottom-width: 1.5px;
        flex:0 0 339px !important;
        margin-right: 20px;
        font-size: 11px !important;
    }

    .mat-header-cell{
        border-bottom: none !important;
        height: 16px !important;
        font-size: 13px !important;
    }
    .mat-column-reference_name{
        border-bottom-style: dotted !important;
        border-bottom-width: 1.5px;
        margin-right: 20px;
        font-size: 11px !important;
    }
   
    .interventionBorder{
        border-bottom: 1.5px dotted;
        height: 17px !important;
    }
    
    .mat-cell, .mat-header-cell {
       /* min-height: 14.8px !important;*/
        height: 15.4px !important;
    }

    .twelve .left{
        width: 27.2% !important;
    }

    .twelve .right{
        width: 72.8% !important;
    }
}



.mat-header-cell{
    border-bottom: none !important;
}
 
/**Toast    **/


/* position */
.toast-center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
  }
  .toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
  }
  .toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .toast-top-left {
    top: 12px;
    left: 12px;
  }
  .toast-top-right {
    top: 12px;
    right: 12px;
  }
  .toast-bottom-right {
    right: 12px;
    bottom: 12px;
  }
  .toast-bottom-left {
    bottom: 12px;
    left: 12px;
  }
  
  /* toast styles */
  .toast-title {
    font-weight: bold;
  }
  .toast-message {
    word-wrap: break-word;
  }
  .toast-message a,
  .toast-message label {
    color: #FFFFFF;
  }
  .toast-message a:hover {
    color: #CCCCCC;
    text-decoration: none;
  }
  .toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #ffffff;
    /* opacity: 0.8; */
  }
  .toast-close-button:hover,
  .toast-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
  }
  /*Additional properties for button version
   iOS requires the button element instead of an anchor tag.
   If you want the anchor version, it requires `href="#"`.*/
  button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
  }
  .toast-container {
    pointer-events: none;
    position: fixed;
    z-index: 999999;
  }
  .toast-container * {
    box-sizing: border-box;
  }
  .toast-container .toast {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 24px;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
  }
  .toast-container .toast:hover {
    box-shadow: 0 0 12px #000000;
    opacity: 1;
    cursor: pointer;
  }
  /* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
  .toast-info {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
  }
  /* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
  .toast-error {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
  }
  /* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
  .toast-success {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
  }
  /* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
  .toast-warning {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
  }
  .toast-container.toast-top-center .toast,
  .toast-container.toast-bottom-center .toast {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .toast-container.toast-top-full-width .toast,
  .toast-container.toast-bottom-full-width .toast {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
  .toast {
    background-color: #030303;
    pointer-events: auto;
  }
  .toast-success {
    background-color: #51A351;
  }
  .toast-error {
    background-color: #BD362F;
  }
  .toast-info {
    background-color: #2F96B4;
  }
  .toast-warning {
    background-color: #F89406;
  }
  .toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000000;
    opacity: 0.4;
  }
  /* Responsive Design */
  @media all and (max-width: 240px) {
    .toast-container .toast.div {
      padding: 8px 8px 8px 50px;
      width: 11em;
    }
    .toast-container .toast-close-button {
      right: -0.2em;
      top: -0.2em;
    }
  }
  @media all and (min-width: 241px) and (max-width: 480px) {
    .toast-container .toast.div {
      padding: 8px 8px 8px 50px;
      width: 18em;
    }
    .toast-container .toast-close-button {
      right: -0.2em;
      top: -0.2em;
    }
  }
  @media all and (min-width: 481px) and (max-width: 768px) {
    .toast-container .toast.div {
      padding: 15px 15px 15px 50px;
      width: 25em;
    }
  }