
<app-header></app-header>
<div class="presentation-container">
    <h3> Bienvenue dans l'application de l'Apf noisy le sec</h3>
</div>

<div class="content-container">
    <div class="fresenius-container">
        <button mat-raised-button color="primary" routerLink="/home/fresenius" routerLinkActive="active" class="fresenius-submit-button" type="submit">Fresenius</button>
       <!-- <a [routerLink]="['detail',product.productID]"></a>-->
    </div>
    <div class="printer-container">
        <!--<button class="btn btn-primary" type="submit">IMPRIMANTE</button>-->
        <button mat-raised-button color="primary" class="fresenius-submit-button" type="submit">Imprimante</button>
    </div>
</div>


